*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: poppins, sans-serif, 1.6rem, 400;

}

body{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #30396f 0%, rgba(32, 31, 108, 0.8) 100%);
}